---
version: "3.9"
services:
  caddy2plus:
    hostname: aurora-caddy2plus
    image: biosplus/caddy2plus
    container_name: aurora-caddy2plus
    environment:
        - ACME_AGREE=true
        #- CLOUDFLARE_AUTH_TOKEN=empty #fill the token
        - ZEROSSL_API_KEY=empty
    volumes:
        - /home/bios/Docker/Containers/AppData/c/caddy2plus/:/etc/caddy/
    ports:
        - 80:80
        - 443:443
    command: 'caddy run --config=/etc/caddy/Caddyfile --watch'
    restart: unless-stopped

networks:
    default:
      external:
        name: internalized