---
version: "3.9"
services:
  caddy2plus:
    hostname: aurora-caddy2plus
    image: biosplus/caddy2plus
    container_name: aurora-caddy2plus
    env_file:
      - ../env_file/.env
    environment:
        - ACME_AGREE=$1_NETWORKING_ACME_AGREE
        - CLOUDFLARE_AUTH_TOKEN=$1_NETWORKING_CLOUDFLARE_AUTH_TOKEN
        - ZEROSSL_API_KEY=$1_NETWORKING_ZEROSSL_API_KEY
    volumes:
        - /home/bios/Docker/Containers/AppData/c/caddy2plus/:/etc/caddy/
    ports:
        - 80:80
        - 443:443
    command: 'caddy run --config=/etc/caddy/Caddyfile --watch'
    restart: unless-stopped

networks:
    default:
      external:
        name: internalized